.container-wrapper {
    &.login {
        .rightsection {
            justify-content: center;
            background: #f1f1f1;
        }
    }
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #89F8E2;
  color: #222629;
  font-weight:bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius:20px;
  cursor: pointer;
  
}

button:hover {
  opacity: 0.8;
}


.login-container {
  padding: 16px;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}