<section id="home" class="section">
    <div class="container">
        <div class="leftsection">
            <div class="circle">     
            </div>
            <div class="square">
            </div>
        </div>
        <div class="rightsection">
            <!--<img class="banner-image" src="assets/download (4).png" alt="Home image" />-->
            <h1 class="heading">Hello there,<br>I'm a <span>UI/UX Designer</span><br>based in Indianapolis.</h1>

        </div>
    </div>
</section>
<section id="about" class="section"> 
    <div class="container grid">
        <div class="section-heading">            
            <h2 class="rotate">About</h2>
        </div>
        <div class="section-text">    
            <h2 class="subheading">Nice to meet you.</h2>
            <p class="subtext">In addition to being a UI/UX Designer, I’m also a current student at IUPUI in Indianapolis, and am passionate about creating great user and visual experiences. I love to encounter and solve new problems and I hone, practice, and learn new skills daily. When I’m not learning or creating, I’m playing table tennis.</p>
            <button type="button"><a href="https://drive.google.com/file/d/11unf5fZK3m8_bsnaPRD-g-9k9hEe33WQ/view?usp=sharing" target="_blank">Check out my resume</a></button>
        </div>
        <div class="section-image">
        </div>
    </div>
</section>
<section id="portfolio" class="section"> 
  

    <div class="container grid">  
        <div class="section-heading">            
            <h2 class="rotate">Portfolio</h2>
        </div>
        <div ref="work1" class="work work-1">
            <h2 class="work-subheading">Fyscal</h2>
            <p class="work-subtitle">Website Design, UI Internship</p>
        </div>
        <div ref="work2" class="work work-2">
            <h2 class="work-subheading">Spinblock</h2>
            <p class="work-subtitle">App design, personal project</p>
        </div>
        <div ref="work3" class="work work-3">
            <h2 class="work-subheading">FoodieX</h2>
            <p class="work-subtitle">Screen design, project</p>
        </div>
        <div ref="work4" class="work work-4">
                <h2 class="work-subheading">IKEA</h2>
                <p class="work-subtitle">Website redesign, personal project</p>
        </div>
        
    </div>
</section>
<section id="contact" class="section">
    <div class="container grid">
        <div class="section-heading">            
            <h2 class="rotate">Contact</h2>
        </div>
        <div class="section-text">    
            <h2 class="subheading">Let's get in touch!</h2>
                <div class="contactGroup">
                    <div class="contactProfile">
                        <img class="socialIcons" src="assets/linkedin.svg"><p><a href="https://www.linkedin.com/in/jaymee-stout/" target="_blank">Work experience</a></p>
                    </div>
                    <div class="contactProfile">
                        <img class="socialIcons" src="assets/at-sign.svg"><p><a href="mailto:jaymeecstout@gmail.com" target="_blank" rel="noopener noreferrer">Email me</p></a>
                    </div>
                    <div class="contactProfile">
                        <img class="socialIcons" src="assets/dribbble.svg"><p><a href="https://dribbble.com/jaystout" target="_blank">Shots of work</a></p>
                    </div>
                    <div class="contactProfile">
                        <img class="socialIcons" src="assets/instagram.svg"><p><a href="https://www.instagram.com/lemondaikons/?hl=en" target="_blank">My drawings</a></p>
                </div>
        </div>
    </div>
</section>
