<div class="work-container-wrap">
    <section class="work-section--top section">
        <div class="container">
            <div class="titles">
                <h1 class="work-title">FoodieX</h1>
                <h2 class="work-subtitle">Screen Design, project</h2>
            </div>
            <div class="description">
                <dl class="description-list">
                    <dt>Role</dt>
                    <dd>UI/UX Design personal project</dd>
                    <dt>Software Used</dt>
                    <dd>Figma</dd>
                    <dt>Year</dt>
                    <dd>2020</dd>
                </dl>

            </div>
            
        </div>
    </section>
    <section class="work-section--middle red section">
        <div class="container">
            <div class="block">
                <div class="leftsection">
                    <h3 class="subheading">Problem</h3>
                    <p>For a design test, XTern gave a prompt to design a food delivery and ordering screen for "FoodieX".</p>
                </div>
                <div class="rightsection">
                    <h3 class="subheading">Solution</h3>
                    <p>After conducting research, I created low fidelity sketches, user personas, and chose colors I thought suited the brand best. I made some screens that show what happen when certain actions are taken as well.</p>

                </div>
            </div>

        </div>


    </section>
    <section class="work-section--picture3 section">
        <div class="background3">
            
        </div>
    </section>
    <section class="work-section--picture4 section">
        <div class="background4">
            
        </div>
    </section>

    <section class="work-section--explain section">
        <!-- <div class="text">
                <h3 class="subheading">Sketches</h3>
                <p>For the first part of my ideation phase, I created sketches of rough ideas for different pages.</p>
        </div> -->
        <div>
            <img class="full-image" src="/assets/mockupsInterfaceTask.png">  
        </div> 
    </section>


</div>

<script>
    window.scrollTo(0,0);
</script>
