<div class="work-container-wrap">
    <section class="work-section--top section">
        <div class="container">
            <div class="titles">
                <h1 class="work-title">Fyscal Intern Work</h1>
                <h2 class="work-subtitle">I worked for a couple months at Fyscal as a UI/UX intern.</h2>
            </div>
            <div class="description">
                <dl class="description-list">
                    <dt>Role</dt>
                    <dd>UI/UX Design Intern</dd>
                    <dt>Contributions</dt>
                    <dd>Wireframing, prototyping, usability testing, presenting</dd>
                    <dt>Year</dt>
                    <dd>2020</dd>
                    <dt>Duration</dt>
                    <dd>August 2020 - January 2020</dd>
                </dl>

            </div>
            
        </div>
    </section>
    <section class="work-section--middle section">
        <div class="container">
            <div class="block">
                <div class="leftsection">
                    <h3 class="subheading">Problem</h3>
                    <p>Fyscal, being a startup financial education company needed their UI designed for their online financial literacy course. They had a direction and vision, but needed to have designs.</p>
                </div>
                <div class="rightsection">
                    <h3 class="subheading">Solution</h3>
                    <p>After conducting research, I created low fidelity sketches, user personas, and chose colors I thought suited the brand best. Throughout my process we had weekly meetings and emphasized iterative design. In total, I created a design system, made components, low fidelity and high fidelity wireframes, and made an interactive prototype in Figma.</p>

                </div>
            </div>

        </div>


    </section>
    <section class="work-section--picture section">
        <div>
                <img class="full-image" src="assets/View3.png">
        </div>
    </section>

    <section class="work-section--explain section">
        <div class="text">
                <h3 class="subheading">Sketches</h3>
                <p>For the first part of my ideation phase, I created sketches of rough ideas for different pages.</p>
        </div>
        <div>
            <img class="full-image" src="assets/sketches.png">
        </div>
    </section>




</div>

<script>
    window.scrollTo(0,0);
</script>
