<div class="work-container-wrap">
    <section class="work-section--top section">
        <div class="container">
            <div class="titles">
                <h1 class="work-title">Spinblock</h1>
                <h2 class="work-subtitle">App design, personal project</h2>
            </div>
            <div class="description">
                <dl class="description-list">
                    <dt>Role</dt>
                    <dd>UI/UX Personal Project</dd>
                    <dt>Softwares Used</dt>
                    <dd>Invision Studio, Figma</dd>
                    <dt>Year</dt>
                    <dd>2020</dd>
                    <dt>Duration</dt>
                    <dd>March 2020 - March 2020</dd>
                </dl>

            </div>
            
        </div>
    </section>
    <section class="work-section--middle blue section">
        <div class="container">
            <div class="block">
                <div class="leftsection">
                    <h3 class="subheading">Problem</h3>
                    <p>Spinblock, a Table Tennis club located in Indianapolis, Indiana has a website, but didn't have an app for players and scheduling coaches.</p>
                </div>
                <div class="rightsection">
                    <h3 class="subheading">Solution</h3>
                    <p>Designed an app for Spinblock as a personal project (low to medium fidelity) in Invision Studio with interactions to get experience for players to schedule lessons with coaches and login/sign up. I also created a screen in Figma of the website.</p>

                </div>
            </div>

        </div>


    </section>
    <section class="work-section--picture2 section">
        <div class="background2">
            
        </div>
    </section>

    <section class="work-section--explain section">
        <div class="text2">
                <h3 class="subheading">Prototype</h3>
                <p>A screenshot of some of the interactions I made within invision studio.</p>
        </div>
        <div>
                <img class="full-image" src="/assets/Spinblockappprogress.jpg">
        </div>
    </section>




</div>

<script>
    window.scrollTo(0,0);
</script>
